<template>
<div class="card" :style="{ backgroundColor: bg, color: color }" target="_blank">
  <img :src="img"/>
  <small>{{ group }}</small>
  <strong>{{ full }}</strong>
</div>
</template>

<script>
import config from '../config'

export default {
  name: 'Card',
  props: {
    station: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      name: this.station.name,
      full: this.station.full,
      group: this.station.group,
      img: this.station.img,
      bg: this.station.bg,
      color: this.station.bg === '#000000' ? '#ffffff': '#000000',
      apiUrl: config.API_URL
    }
  }
}
</script>

<style scoped lang="scss">

@import '../variables';

$searchColor: #00B4CC;

.card {
  /* box-shadow: rgba(187, 11, 11, 0.118) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  /* border-color: $searchColor;
  border-style: solid;
  border-radius: 7px; */

  &:hover {
    transform: scale(1.04);
    cursor: pointer;
  }

  text-decoration: none;
  padding: 12px;
  color: $primary-color;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    height: 30px;
  }
  small {
    font-size: 13px;
    padding: 4px;
  }
  strong {
    text-align: center;
  }
}

</style>