<template>
<div>
  <div class="wrapper">
    <Card v-for="station in stations" :station="station" :key="station.name"/>
  </div>
</div>
</template>

<script>
import { mapState } from 'vuex'
import config from '../config'
import Card from './Card.vue'

export default {
  name: 'List',
  components: {
    Card
  },
  data: () => {
    return {
      search: '',
      apiUrl: config.API_URL
    }
  },
  computed: mapState({
    stations (state) {
      return state.stations.filter(st => st.name.toLowerCase().includes(this.search.toLowerCase()))
    }
  }),
  created() {
    this.$store.dispatch("fetchStations")
  }
}
</script>

<style scoped lang="scss">

$primary-color: #42b983;

a {
  color: $primary-color;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;

  @media (min-width: 768px) {
    width: 90%;
    grid-template-columns: 1fr 1fr;
  }
}

</style>
