<template>
  <div class="outer-wrapper">
    <div class="inner-wrapper">
      <img :src="img" :style="{ backgroundColor: bg }"/>
      <h2><a :href="url" class="direct-link" target="_blank">{{full}}</a></h2>
      <audio controls>
        <source :src="url" type="audio/mpeg"/>
        Your browser does not support the audio element.
      </audio>
      <!-- <a class="direct-link" :href="url" target="_blank">direct link</a> -->
    </div>
    <div class="close" @click="$emit('closeModal')" />
  </div>
</template>
<script>
import config from '../config'

export default {
  name: 'Modal',
  props: {
    station: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      img: null,
      bg: null,
      apiUrl: null,
      name: null,
      full: null,
      group: null,
      url: null
    };
  },
  mounted() {
    this.img = this.station.img;
    this.bg = this.station.bg;
    this.apiUrl = config.API_URL;
    this.name = this.station.name;
    this.full = this.station.full;
    this.group = this.station.group;
    this.url = `${this.apiUrl}/radio/${this.group}/${this.name}/listen`;
  },
};
</script>
<style lang="scss" scoped>
  .outer-wrapper {
    background: #f6f6f6;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;

    @media (min-width: 768px) {
      height: 100px;
      max-height: 100%;
      // width: 500px;
      max-width: 100%;
      right: 0;
      bottom: 0;
      margin: auto;
      box-shadow: 0 30px 30px -10px rgba(0,0,0, .3);
    }
  }

  .close {
    position: absolute;
    width: 30px;
    height: 30px;
    padding: 30px;
    right: 0;
    top: 0;
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      top: 30px;
      right: 20px;
      content: '';
      width: 20px;
      height: 2px;
      background: black;
      display: block;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .inner-wrapper {
    display: flex;
    height: 100%;
    // padding: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;

    @media (max-width: 768px) { 
      flex-direction: column;
    }

    :not(:first-child) {
      margin-left: 20px;
    }

    img {
      max-height: 80%;
      width: auto;
      padding: 5px;
    }

    .direct-link {
      margin-top: 1.5rem;
      text-decoration: none;
      color: black;
    }

    audio {
      background-color: crimson;
    }
  }

</style>
