<template>
  <div>
    <div class="nav">
      <SearchInput class="search" v-model="searchValue" @input="handleInput"/>
    </div>
    <div class="app">
      <div class="wrapper">
        <Card v-for="station in stations" :station="station" :key="station.name" @click.native="handleModalOpen(station)"/>
      </div>
      <Modal v-if="modalOpen" :station="modalStation" @closeModal="modalOpen = false" />
      <div v-if="modalOpen" class="modal-overlay"></div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import debounce from 'lodash.debounce';
import SearchInput from '@/components/SearchInput.vue';
import Card from '@/components/Card.vue';
import Modal from '@/components/Modal.vue';

export default {
  name: 'app',
  components: {
    SearchInput,
    Card,
    Modal
  },
  created() {
    this.$store.dispatch("fetchStations")
  },
  data() {
    return {
      searchValue: '',
      results: [],
      modalOpen: false,
      modalStation: null,
    };
  },
  computed: mapState({
    stations (state) {
      return state.stations.filter(st => st.name.toLowerCase().includes(this.searchValue.toLowerCase()))
    }
  }),
  methods: {
    handleModalOpen(station) {
      this.modalOpen = true;
      this.modalStation = station;
    },
    handleInput: debounce(function() {
      // console.log('handle input');
    }, 500),
  }
}
</script>

<style lang="scss">

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import 'variables';

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  margin: auto;
  position: relative;
  width: 90%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 40px;
}

.nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100px;
  background: darkgray;
  z-index: 1000;
}

.wrapper {
  margin: 20px 0 0 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 25px;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.6);
}

</style>
